<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>About</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user_profile.roles == 'Customer' %}
            {% include 'navbar.html' %}
        {% endif %}
        <div class="about-container">
            <div class="website-name">Gram Bazaar</div>
            <div class="description">
                <p>Creates a warm and traditional feel, referencing village markets.</p>
                <p>Welcome to Gram Bazaar, a vibrant online marketplace that encapsulates the nostalgic charm of village markets. At Gram
                Bazaar, we're dedicated to preserving and celebrating the warmth, tradition, and diversity found in rural communities.
                Our platform offers a curated selection of handcrafted treasures, each item telling a story of rich cultural heritage.
                From intricately designed crafts to locally sourced products, we bridge the gap between urban convenience and the
                authenticity of rural life. Every purchase at Gram Bazaar not only brings you unique products but also supports local
                artisans and sustains traditional craftsmanship. Join us in experiencing the soulful essence of village markets, where
                every item embodies the spirit of close-knit communities and celebrates the beauty of simplicity and tradition.</p>
            </div>
        </div>
    {% endif %}
</body>
</html>
