<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Details</title>

    <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>

<body>
    <div class="wrapper">
        {% include 'side_nav.html' %}
        <div class="container">
        <h1>Buyer Details</h1>
        <div class="black-box">
            <table>
                <thead>
                    <tr>
                        <th>SNo</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ysrmutyam</td>
                        <td>Yaswanth</td>
                        <td>Mutyam</td>
                        <td>yaswanth@gmail.com</td>
                        <td>9553767988</td>
                        <td><button class="delete-btn">Delete</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ysrmutyam</td>
                        <td>Yaswanth</td>
                        <td>Mutyam</td>
                        <td>yaswanth@gmail.com</td>
                        <td>9553767988</td>
                        <td><button class="delete-btn">Delete</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ysrmutyam</td>
                        <td>Yaswanth</td>
                        <td>Mutyam</td>
                        <td>yaswanth@gmail.com</td>
                        <td>9553767988</td>
                        <td><button class="delete-btn">Delete</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>ysrmutyam</td>
                        <td>Yaswanth</td>
                        <td>Mutyam</td>
                        <td>yaswanth@gmail.com</td>
                        <td>9553767988</td>
                       <td><button class="delete-btn">Delete</button></td>
                    </tr>
                <tr>
                        <td>1</td>
                        <td>ysrmutyam</td>
                        <td>Yaswanth</td>
                        <td>Mutyam</td>
                        <td>yaswanth@gmail.com</td>
                        <td>9553767988</td>
                        <td><button class="delete-btn">Delete</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ysrmutyam</td>
                        <td>Yaswanth</td>
                        <td>Mutyam</td>
                        <td>yaswanth@gmail.com</td>
                        <td>9553767988</td>
                        <td><button class="delete-btn">Delete</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ysrmutyam</td>
                        <td>Yaswanth</td>
                        <td>Mutyam</td>
                        <td>yaswanth@gmail.com</td>
                        <td>9553767988</td>
                        <td><button class="delete-btn">Delete</button></td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    </div>
</body>

</html>
