{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
    <title>Slider</title>
</head>
<body>
    <div class="slider">
        <div class="slides">
            <img src="{% static 'images/groceries.jpg'%}" alt="Image 1">
            <img src="{% static 'images/bhoomi.jpg'%}" alt="Image 2">
            <img src="{% static 'images/vegetables.jpg'%}" alt="Image 3">
        </div>
        <button class="prev" onclick="prevSlide()">Prev</button>
        <button class="next" onclick="nextSlide()">Next</button>
    </div>
    <script src="{% static 'js/slider.js' %}"></script>
</body>
</html>
