<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gram Bazaar</title>
</head>
<body>
  {% if user.is_authenticated %}
      {% if user_profile.roles == 'Customer' %}
         {% include 'navbar.html' %}
         {% include 'home_page_slider.html' %}
         {% include 'products.html' %}
         {% include 'footer.html' %}
      {% endif %}
      {% if user_profile.roles == 'Seller' or user_profile.roles == 'Admin' %}
         {% include 'side_nav.html' %}
      {% endif %}
  {% endif %}
</body>
</html>
