<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Catalog</title>
    <link rel="stylesheet" href="{% static 'css/product_his.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
       {% if user_profile.roles == 'Seller' or user_profile.roles == 'Admin' %}
    <div class="wrapper">
        {% include 'side_nav.html' %}
        <div class="container">
            {% if page_type == 'ava_products' %}
               <h1 class="heading" style="text-align:center">Available Products</h1>
            {% elif page_type == 'pur_products' %}
                <h1 class="heading" style="text-align:center">Purchased Products</h1>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Product Price</th>
                        <th>Seller Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td><img src="{{ product.image.url }}" alt="Product Image"></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.seller.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   {% endif %}
   {% endif %}
</body>

</html>
