<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}
         {% if user_profile.roles == 'Customer' %}
              {% include 'navbar.html' %}
         {% elif user_profile.roles == 'Seller' %}
              {% include 'side_nav.html' %}
         {% endif %}
        <div class="profile-container">
            <div class="profile-details">
                <div class="profile-image-container">
                    {% if user.userprofile.profile_pic %}
                         <img src="{{ user.userprofile.profile_pic.url }}" alt="Profile Picture" class="profile-image">
                    {% endif %}
                </div>
                <div class="personal-info">
                    <h2>Customer Details</h2>
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <span id="firstName">{{ user.first_name }}</span>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <span id="lastName">{{ user.last_name }}</span>
                    </div>
                    <div class="form-group">
                        <label for="postalCode">Postal Code:</label>
                        <span id="postalCode">{{ user_profile.postal_code }}</span>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <span id="phoneNumber">{{ user_profile.phone_number }}</span>
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <span id="address">{{ user_profile.address }}</span>
                    </div>
                    <!-- Update Button -->
                    <a href="{% url 'update' %}">
                        <button type="button" class="update-btn">Edit</button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
</body>
</html>
