<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchased History</title>
    <link rel="stylesheet" href="{% static 'css/product_his.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
        {% include 'navbar.html' %}
        <div class="container">
           <h1 class="heading" style="text-align: center;">Purchased History</h1>
            <table>
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Product Description</th>
                        <th>Product Price</th>
                        <th>Seller Name</th>
                         <!-- Added Product Image column -->
                    </tr>
                </thead>
                <tbody>
                    {% for item in purchased_history %}
                        <tr>
                            <td>{{ item.product_id }}</td>
                            <td>{{ item.product_name }}</td>
                            <td><img src="{{ item.product_image.url }}" alt="Product Image"></td>
                            <td>{{ item.product_description }}</td>
                            <td>{{ item.product_price }}</td>
                            <td>{{ item.seller_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</body>

</html>
