<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/verification.css' %}">
</head>

<body>
    <div id="verification-form">
        <div id="verification-form-content">
            <h2>Email Verification</h2>
            <p>An email has been sent to your mail. Please verify it.</p>
            <form action="{% url 'resend'%}" method="post">
                {% csrf_token %}
                <button type="submit" id="resend-btn">Resend Mail</button>
            </form>
        </div>
    </div>
</body>
</html>
