<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    <title>Profile</title>
</head>
<body>
    {% if user.is_authenticated %}
     {% include 'navbar.html' %}
        <form class="personal-info-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="profile-container">
                <div class="profile-details">
                    <div class="profile-image-container">
                        <div class="profile-image" id="profileImage">
                            {% if user_profile.profile_picture.value %}
                                <img src="{{ form.profile_picture.value.url }}">
                            {% else %}
                                <img src="path/to/default_image.jpg">
                            {% endif %}
                            <div class="overlay" id="overlay">
                                <label for="changePhoto" class="change-photo">Change Photo</label>
                                <input type="file" id="changePhoto" name="profile_picture" style="display: none;">
                                <button class="remove-photo" id="removePhoto">Remove Photo</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="first_name" placeholder="Enter First Name" value="{{ user.first_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="last_name" placeholder="Enter Last Name" value="{{ user.last_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="postalCode">Postal Code:</label>
                        <input type="text" id="postalCode" name="postal_code" placeholder="Enter Postal Code (6 digits)"
                               pattern="\d{6}" title="Please enter 6 digits" value="{{ user_profile.postal_code }}" required>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" name="phone_number"
                               placeholder="Enter Phone Number (10 digits with 91 country code)" pattern="^91\d{10}$"
                               title="Please enter 10 digits with 91 country code"  value="{{ user_profile.phone_number }}" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <textarea id="address" name="address" placeholder="Enter Address" required>{{ user_profile.address }}</textarea>
                    </div>
                    <button type="submit" class="update-btn">Update</button>
                </div>
            </div>
        </form>
        <script src="{% static 'js/profile.js' %}"></script>
    {% endif %}
</body>
</html>
