<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    <title>Profile</title>
</head>
<body>
<form class="personal-info-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile-container">
        <div class="profile-details">
            <div class="profile-image-container">
                <div class="profile-image" id="profileImage">
                    {% if form.profile_picture.value %}
                        <img src="{{ form.profile_picture.value.url }}">
                    {% else %}
                        <img src="path/to/default_image.jpg">
                    {% endif %}
                    <div class="overlay" id="overlay">
                        <label for="changePhoto" class="change-photo">Change Photo</label>
                        <input type="file" id="changePhoto" name="profile_picture" style="display: none;">
                        <button class="remove-photo" id="removePhoto">Remove Photo</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="first_name" placeholder="Enter First Name" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="last_name" placeholder="Enter Last Name" required>
            </div>
            <div class="form-group">
                <label for="postalCode">Postal Code:</label>
                <input type="text" id="postalCode" name="postal_code" placeholder="Enter Postal Code (6 digits)"
                       pattern="\d{6}" title="Please enter 6 digits" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phone_number"
                       placeholder="Enter Phone Number (10 digits with 91 country code)" pattern="^91\d{10}$"
                       title="Please enter 10 digits with 91 country code" required>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <textarea id="address" name="address" placeholder="Enter Address" required></textarea>
            </div>
            <button type="submit" class="update-btn">Update</button>
        </div>
    </div>
</form>
<script src="{% static 'js/profile.js' %}"></script>
</body>
</html>
