*{
    margin: 0px;
    padding: 0px;
}
.navbar {
    height: 70px;
    background-color:#333;
    display: flex;
    font-family: sans-serif;
    border-radius: 2px;
}
.navbar-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
}
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.navbar-search {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
}
.navbar-search input {
    flex: 1;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    width:450px;
}
.navbar-search button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-nav li {
    margin-left: 1rem;
}
.navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.nav-item:hover {
    background-color: #444;
}
.nav-item{
    padding:10px;
}
.navbar-profile {
    position: relative;
}
.profile-icon {
    font-size: 24px; /* Adjust icon size as needed */
    color: white;
    cursor: pointer;
}
.profile-options {
    display: none;
    position: absolute;
    top: 50px; /* Adjust the position as needed */
    right: 0;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}
.profile-options a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.profile-options a:hover {
    background-color: #444;
}
.navbar-profile:hover .profile-options {
    display: block;
}
