table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 2.5px solid #d9d6d6;
    color: white; /* Make text color white */
}

th {
    background-color: #0d2550;
}

tr {
    background-color: black;
}

td img {
    width: 150px;
    height: 100px;
    display: block;
    margin: auto;
}

tr {
    height: 120px;
}

/* Added styles for the heading */
.heading {
    text-align: center;
    margin-top: 20px; /* Adjust margin-top as needed */
}
